# Archivos a evitar en el repositorio
*.csv
!Scripts/zcta_centroids.csv
*.xlsx
*.xls
*.twb
*.twbx
*.zip
*.pptx
*.ppt

# Carpetas a evitar
Client_Documents/
Client_Data/
Output/
.agents/
**/__pycache__/